:root {
    --clr-white: #ffffff;
    --clr-black: #000000; 

    --clr-base:#223240; 
    --clr-secundario:#73614C; 
    --clr-complementario:#F2CAB3;
    --clr-Four:#8C442A; 
    --clr-Five:#D9AB9A; 
    
    --paddingX: 1.8rem;
    --paddingY: 1.5rem;

    --font-size-small: 1.2rem; 
    --font-size-medium: 1.6rem; 
    --font-size-tall: 1.8rem; 
    --font-size-title: 2.4rem; 
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
 font-size: 62.5%;
}
body {
    font-family: 'Karla', sans-serif;
   /*  width: 100%;
    height: 100%; */
}

a {
text-decoration: none;
}
ul {
    list-style: none;
}
img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}
.wrapper {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-areas: "header"
                         "content"
                         "footer";

    background-color: var(--clr-white);
}
.header {
    grid-area: header;
    width: 100%;
    height: 10vh;
    background-color: var(--clr-base);
}
.nav {
    display: grid;
}
.medium {
 display: grid;
 width: 100%;
 height: 80vh;
 background-color: lightgray;
}

.footer {
    display: grid;
    height: 15vh;
    width: 100%;
    background-color: var(--clr-base);
}

    /*Media*/
@media (min-width: 1024px) {

}
@media (min-width: 456px) {
    /*Hamburger*/

  
}

@media screen and (max-width: 360px) {

}
@media (max-width: 425px) {
    .line {
        width: 30px;
        height: 3px;
        background: white; 
        margin: 5px;
    }
    .nav {
        grid-area: header;
        position: relative;
        width: 100%;
         height: 100%;
    }
    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 5%;
        transform: translate(-5%, 50%);
        z-index: 2;
    }
 /*    .nav__logo {

    }
    .nav__list {

    } */
    .nav__list ul {
        position: fixed;
        background-color: var(--clr-base);
        height: 100vh;
        width: 100%;
        flex-direction: column;
        display: flex;
        justify-content: space-around;
        align-items: center;
        clip-path: circle(100px at 90% -20%);
        -webkit-clip-path: circle(100px at 90% -20%); 
        transition: all 1s ease-out;
    }
    .nav__list a {
        color: var(--clr-white);
    }
    .nav__list ul.open {
         clip-path: circle(100px at 90% -20%);
        -webkit-clip-path: circle(100px at 90% -20%);
    }
}

@media (max-width: 420px) and (orientation: portrait), (max-height: 500px) {
    body {
        margin: 0 auto;
    }
}