@media (min-width: 425px) {
  .nav {
  display: grid;
  grid-template-columns: 30% 60% 10%;
  grid-template-rows: 1fr;
  gap: .2rem;
  }
  .nav .nav--title {
   font-size: 1.2rem;
  }
  .nav .nav--list {
    font-size: 1rem;
  }
  .carousel {
    justify-self: center;
  }
}
@media (min-width: 576px){
    .carousel {
      justify-self: center
    };

}


@media (min-width: 768px) {
     .carousel {
       justify-self: center;
     }
}

@media (min-width:1024px) {
    /* .movie--screen .movie {
      width: 50%;
    } */
    .carousel {
      justify-self: center;
    }
}
