@media (min-width: 360px) {
    
}

@media (min-width: 576px) {
    .login__forms{
        width: 348px;
        justify-self: center;
      }
}

@media (min-width: 768px) {
    :root{
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
      }
}

@media (min-width: 1024px) {
    .login{
        height: 100vh;
        overflow: hidden;
      }
    
      .login__content{
        grid-template-columns: repeat(2, max-content);
        justify-content: center;
        align-items: center;
        margin-left: 10rem;
      }
    
      .login__img{
        display: flex;
        width: 600px;
        height: 588px;
        background-color: var(--first-color-lighten);
        border-radius: 1rem;
        padding-left: 1rem;
      }
    
      .login__img img {
        width: 390px;
        margin-top: 0;
        object-fit: cover;
      }
    
      .login__registre, .login__create{
        left: -11rem;
      }
    
      .login__registre{
        bottom: -2rem;
      }
    
      .login__create{
        bottom: -5.5rem;
      }

}
