:root {
    --white: hsl(0, 0%, 100%);
  --cyan: hsl(179, 62%, 40%);
  --ltcyan: hsl(179, 62%, 45%);
  --yellow: hsl(71, 73%, 54%);
  --dkyellow: hsl(71, 73%, 48%);
  --ltgray: hsl(204, 43%, 93%);
  --grayblue: hsl(218, 22%, 67%);

  --paddingX: 1.8rem;
  --paddingY: 1.5rem;

  --font-size-smolle: 1.2rem; 
  --font-size-medium: 1.6rem; 
  --font-size-title: 2.4rem; 
}
*, * ::before, *::after {
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    font-family: 'Karla', sans-serif;
    line-height: 1.3;
    background-color: var(--ltgray);
    color: var(--grayblue);
    padding: var(--paddingX);
}
ul {
 list-style: none;
 padding: 0;
}
a{
 text-decoration: none;
}
img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

h1, h2, h3 {
    font-weight: bold;
    margin-top: 0;
    line-height: 1.15;
}
h2 {
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
}
h3 {
    font-size: 1.1rem;
    color: var(--white);
}
p {
    margin-top: 0;
    color: var(--ltgray);
}

.price {
    max-width: 40rem;
    overflow: hidden;
    border-radius: 0.5rem;
    margin: auto
}
.price > * {
    padding: var(--paddingX) var(--paddingY);
}
.community {
    background-color: var(--white);
}
.community h2 {
    color: var(--cyan);
}
.community .substitle {
    font-size: 1rem;
    color: var(--yellow);
    font-weight: bold;
    margin-bottom: 1rem;
}
.community p {
    font-size: 0.85rem;
    line-height: 1.75;
    margin-bottom: 1rem;
    color: var(--grayblue);
}

.suscription {
    background-color: var(--cyan);
}
.suscription .why {
    color: var(--ltgray);
}
.subscription__price {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
    color: var(--white);
}
.subscription__price span {
    font-size: 1rem;
    margin-left: 0.8rem;
    font-weight: normal;
    opacity: 0.75;
    color: var(--dkyellow);
}
.suscription p {
    font-size: 0.9rem;
    margin-bottom: 1.75rem;
}
.suscription a {
    color: var(--white);
    display: block;
    background-color: var(--yellow);
    padding: 0.75rem;
    text-align: center;
    border-radius: 0.25rem;
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.15);
    transition: background-color 200ms ease;
}
.suscription a:hover {
    background-color: var(--dkyellow);
}
.why {
    background-color: var(--ltcyan);
}
.why ul {
    margin-top: 0;
    padding: 0;
}
.why ul li {
    list-style: none;
    font-size: 0.85rem;
    margin-bottom: 0.2rem;
    color: var(--white);
}