:root {
    --clr-base:#ffffff; 
    --clr-background:#000000; 
    --clr-primario: #F22233;
    --clr-secondary: #F23D5E;
    --clr-complementario: #F2A172;
    --clr-comTwo: #591202; 
    --clr-back: #A60303; 
  
    --paddingX: 1.8rem;
    --paddingY: 1.5rem;
  
    --font-size-smolle: 1.2rem; 
    --font-size-medium: 1.6rem; 
    --font-size-title: 2.4rem; 
  }
  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }
  html {
   font-size: 62.5%;
   scroll-behavior: smooth;
  }
  body {
      font-family: 'Karla', sans-serif;
     /*  width: 100%;
      height: 100%; */
  }
  ul {
      list-style: none; 
  }
  a {
      text-decoration: none;
  }
  .header {
      width: 100%;
      height: 10vh;
      background-color: var(--clr-primario);
  }
  .nav {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 30% 60% 10%;
      grid-template-rows: 1fr;
      grid-template-areas: "logo link burger";
  }
  .nav__logo {
  grid-area: logo;
  align-self: center;
  justify-self: center;
  font-size: 1.8rem;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  }
  .nav__hamburger {
      grid-area: burger;
      align-self: center;
      justify-self: center;
  }
  .nav__link {
   grid-area: link;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1.5rem;
   margin: 0 1rem;
  }
  .nav__link li a {
   color: var(--clr-base);
   font-size: 1.2rem;
   font-weight: bold;
  }
  .main {
      width: 100%;
      height: auto;
      background-color: lightgray;
  }
  .main__section {
      width: 100%;
      height: 90vh;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
  }
  .footer {
      width: 100%;
      height: 15vh;
      background-color: var(--clr-primario);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
  }

  