:root {
  --clr-base:#ffffff; 
  --clr-background:#000000; 
  --clr-primario: #F22233;
  --clr-secondary: #F23D5E;
  --clr-complementario: #F2A172;
  --clr-comTwo: #591202; 
  --clr-back: #A60303; 

  --paddingX: 1.8rem;
  --paddingY: 1.5rem;

  --font-size-smolle: 1.2rem; 
  --font-size-medium: 1.6rem; 
  --font-size-title: 2.4rem; 
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
 font-size: 62.5%;
 scroll-behavior: smooth;
}
body {
    font-family: 'Karla', sans-serif;
}
ul {
    list-style: none; 
}
a {
    text-decoration: none;
}
img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

.header {
    width: 100%;
    height: 10vh;
    background-color: var(--clr-primario);
    position: sticky;
}
.nav {
    display: grid;
    width: 100%;
  /*   max-width: 550px; */
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: .2rem;
    padding: 1rem;

    grid-template-areas: "logo logo space  settings search profile hamburger";
}

.nav__logo {
    grid-area: logo;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav__logo h1 {
    font-size: 2.4rem;
    color: var(--clr-base);
    font-weight: bold;
    text-transform: uppercase;
}

.nav__profile {
    grid-area: profile;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-base);
}
.nav__burger {
 grid-area: hamburger;
 font-size: 1.2rem;
 display: flex;
 justify-content: center;
 align-items: center;
 color: var(--clr-base);
}
.nav__search {
 grid-area: search;
 font-size: 1.2rem;
 display: flex;
 justify-content: center;
 align-items: center;
 color: var(--clr-base);
}
.nav__settings {
  grid-area: settings;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-base);
}

.main {
    width: 100%;
    height: 100vh;
    display: grid;
    background-color: lightgray;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
}
.footer {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(3, 1fr);
width: 100%;
height: 15vh;
background-color: var(--clr-primario);
}


               /*MediaQueries*/
/* @media only screen and (max-width: 450px) {
    .main {
        background-color: indigo;
    }
    .nav__list {
        display: none;
    }
    .nav__list li a {
        display: none;
    }
}
@media only screen and (max-width: 766px) {
    .nav__list {
        display: none;
    }
    .nav__list li a {
        display: none;
    }
} */

@media only screen and (min-width: 768px) {
    .nav {
        display: grid;
        grid-template-columns: 40% 50% 10%;
        grid-template-rows: 1fr;
        gap: .2rem;

        grid-template-areas: "logo menu profile";
    }
    .nav__logo {
        grid-area: logo;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav__logo h1 {
        font-size: 2.8rem;
        color: var(--clr-base);
        font-weight: bold;
        text-transform: uppercase;
    }
    .nav__profile {
        grid-area: profile;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--clr-base);
    }
    .nav__burger {
     grid-area: none;
     display: none;
    }
    .nav__search {
     grid-area: none;
     display: none;
    }
    .nav__settings {
      grid-area: none;
      display: none;
    }
    /* .nav__list {
        grid-area: menu;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }
    .nav__list li a {
        color: var(--clr-base);
        font-size: var(--font-size-medium);
    } */
    .main {
        background-color: greenyellow;
    }
}