:root {
 --clr-One: #010326;
 --clr-Two: #29F2CD;
 --clr-Three: #A9D941;
 --clr-Four: #F26E22;
 --clr-Five: #D92B2B;
 --Clr-Base: #ffffff;
 --clr-Black: #000000;

 --font-sizes-sans-small: 1.2rem;
 --font-sizes-sans-normal: 1.6rem;
 --fonts-sizes-sans-large: 2.4rem;

 --paddingX: 1.8rem;
 --paddingY: 1.5rem;
}
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}
body {
    width: 100%;
    height: 100vh;
    /* overflow: hidden;
    flex-wrap: wrap; */
    background-color: var(--Clr-Base);
    color: var(--Clr-Base);
}
h1{
    margin: 0;
  }
  
  a{
    text-decoration: none;
  }
  
  img{
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  /*===== LOGIN =====*/
  .login{
    display: grid;
    grid-template-columns: 100%;
    height: 100vh;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  
  .login__content{
    display: grid;
  }
  
  .login__img{
    justify-self: center;
    height: 350px;
  }
  
  .login__img img{
    width: 325px;
    margin-top: 1.5rem;
    object-fit: cover;
  }
  
  .login__forms{
    position: relative;
    height: 400px;
  }
  
  .login__registre, .login__create{
    position: absolute;
    bottom: 1rem;
    width: 100%;
    height: 100%;
    background-color: var(--clr-Two);
    padding: 2rem 1rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0 8px 20px rgba(35,0,77,.2);
    animation-duration: .4s;
    animation-name: animate-login;
  }
  
  .login__title{
    font-size: var(--fonts-sizes-sans-large);
    margin-bottom: 2rem;
  }
  
  .login__box{
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: .5rem;
    padding: 1.125rem 1rem;
    background-color: #FFF;
    margin-top: 1rem;
    border-radius: .5rem;
  }
  
  .login__icon{
    font-size: 1.5rem;
    color: var(--clr-Two);
  }
  
  .login__input{
    border: none;
    outline: none;
    font-size: var(--font-sizes-sans-normal);
    font-weight: 700;
    color: var(--clr-Black);
  }
  
  .login__input::placeholder{
    font-size: var(--font-sizes-sans-normal);
    font-family: var(--font-sizes-sans-small);
    color: var(--clr-One);
  }
  
  .login__forgot{
    display: block;
    width: max-content;
    margin-left: auto;
    margin-top: .5rem;
    font-size: var(--font-sizes-sans-small);
    font-weight: 600;
    color: var(--Clr-Base);
    opacity: .7;
  }
  
  .login__button{
    display: block;
    padding: 1rem;
    margin: 2rem 0;
    background-color: var(--clr-Black);
    color: #FFF;
    font-weight: 600;
    text-align: center;
    border-radius: .5rem;
    transition: .3s;
  }
  
  .login__button:hover{
    background-color: var(--clr-One);
    opacity: .5;
  }
  
  .login__account, .login__signin, .login__signup{
    font-weight: 600;
    font-size: var(--font-sizes-sans-small);
  }
  
  .login__account{
    color: var(--clr-One);
  }
  
  .login__signin, .login__signup{
    color: var(--Clr-Base);
    cursor: pointer;
    margin-left: .5rem;
  }
  
  .login__social{
    margin-top: 2rem;
  }
  
  .login__social-icon{
    font-size: 1.5rem;
    color: var(--Clr-Base);
    margin: 0 1.5rem;
  }
  
  /*Show login*/
  .block{
    display: block;
  }
  
  /*Hidden login*/
  .none{
    display: none;
  }